# Excel Automation with Python

## Table of Content: 
    1. Write data using openpyxl
    2. Write data using pandas
    3. Read data using openpyxl
    4. Read data using pandas
    5. Creating Multiple Sheets in master excel file
    6. Combining multiple excel speadsheet into a master excel
    7. Plotting bar graph 
    8. Plotting pie graph
    9. Sample Project 1  
    10. Sample Project 2

### 1. Writting data into xlsx file using **openpyxl**

In [2]:
from openpyxl import Workbook    
wb = Workbook()  
sheet = wb.active  

sheet['A1'] ="Roll"   
sheet['A2'] = 1  
sheet['A3'] = 2  
sheet['A4'] = 3

sheet['B1'] ="Name"   
sheet['B2'] = "Mickel"  
sheet['B3'] = "Ronit"  
sheet['B4'] = "Rohit"

sheet['C1'] ="Marks"   
sheet['C2'] = 80 
sheet['C3'] = 68  
sheet['C4'] = 39
 
wb.save("Data/Student_Record_1.xlsx")

### 2. Writting data into xlsx file using **Pandas**

In [3]:
import pandas as pd

Roll = [1, 2, 3]
Name = ['Mickel', 'Ronit', 'Rohit']
Marks = [80, 68, 39]

df = pd.DataFrame({'Name':Name, 'Roll':Roll, 'Marks': Marks})

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Data/Student_Record_2.xlsx')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='sheet',header=True, index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

### 3. Reading data from xlsx file using openpyxl

In [4]:
import openpyxl
path = "Data/Student_Record_1.xlsx"
wb = openpyxl.load_workbook(path)
sheet = wb.active
for row in sheet:
    print([data.value for data in row])

['Roll', 'Name', 'Marks']
[1, 'Mickel', 80]
[2, 'Ronit', 68]
[3, 'Rohit', 39]

### 4. Reading data from xlsx file using pandas

In [5]:
import pandas as pd
df = pd.read_excel("Data/Student_Record_2.xlsx", sheet_name='sheet1')
print(df)

     Name  Roll  Marks
0  Mickel     1     80
1   Ronit     2     68
2   Rohit     3     39

### 5. Creating Mutipliple Sheet in single excel spreadsheet

In [8]:
import openpyxl

book = openpyxl.load_workbook('Data/Sample_file.xlsx')
print("Before Creating: ",book.sheetnames)

#Creating new sheets in Sample_file.xlsx
book.create_sheet("Student")
print("After Creating: ",book.sheetnames)

# creating new sheet ("Sheet_name",Position) 
book.create_sheet("Teacher", 0)
print("After Creating: ",book.sheetnames)

# Delete sheet from file
book.remove(book['Sheet'])
print("After Deleting: ",book.sheetnames)

book.save('Data/Sample_file.xlsx')

Before Creating:  ['Sheet']
After Creating:  ['Sheet', 'Student']
After Creating:  ['Teacher', 'Sheet', 'Student']
After Deleting:  ['Teacher', 'Student']

### 6. Combining multiple excel speadsheet into a master excel

In [9]:
# importing the module
import pandas
  
# reading the files
df1 = pandas.read_excel("Data/Student_details.xlsx")
df2 = pandas.read_excel("Data/Marks.xlsx")
  
# merging the files
df3 = df1[["Roll No","Name","Email id"]].merge(df2[["Roll No","English", "Science", "History"]], on = "Roll No", how = "left")
  
# creating a new file
df3.to_excel("Data/Student_details_with_marks.xlsx", index = False)

### 7. Drawing Bar graph using Openpyxl

In [10]:
import openpyxl
from openpyxl.chart import BarChart, Series, Reference

path = "Data/Mark.xlsx"
wb = openpyxl.load_workbook(path)
ws = wb.active

chart1 = BarChart()
chart1.type = "col"
chart1.style = 10
chart1.title = "Bar Chart"
chart1.y_axis.title = 'Marks Obtain'
chart1.x_axis.title = 'Roll No'

data = Reference(ws, min_col=2, min_row=1, max_row=11, max_col=4)
cats = Reference(ws, min_col=1, min_row=2, max_row=11)
chart1.add_data(data, titles_from_data=True)
chart1.set_categories(cats)
chart1.shape = 4
ws.add_chart(chart1, "A10")

wb.save("Data/Mark.xlsx")

## 8. Drawing Pie Graph using openpyxl

In [12]:
import openpyxl

from openpyxl.chart import (
    PieChart,
    ProjectedPieChart,
    Reference
)
from openpyxl.chart.series import DataPoint

path = "Data/pie.xlsx"
wb = openpyxl.load_workbook(path)
ws = wb.active

pie = PieChart()
labels = Reference(ws, min_col=1, min_row=2, max_row=8)
data = Reference(ws, min_col=2, min_row=1, max_row=8)
pie.add_data(data, titles_from_data=True)
pie.set_categories(labels)
pie.title = "Monthly Salary Expense"

# Cut the first slice out of the pie
slice = DataPoint(idx=0, explosion=20)
pie.series[0].data_points = [slice]

ws.add_chart(pie, "D1")

wb.save("Data/pie.xlsx")

### 9. Simple Project 1
Task 1: we are going to add two more column in excel spreadsheet **Result** and **Grade**.

> In **Result** column we will put **pass** and **Failed** based on Percentage He/She got.<br>
1. **Pass**: If percentage is greater than and equal to 40.
2. **Failed**: If percentage is less than 40

> In **Grade** column we will put **1st class**, **2nd class**, **3rd class** and **Failed** based on Percentage He/She got.
1. 1st class: If percentage greater than equal to 60.
2. 2nd class: If percentage greater than equal to 50 but less than 60.
3. 3rd class: If percentage greater than equal to 40 but less than 50.
4. Failed: If percentage less than 40.
 
Task 2: After doing the first task we will create multiple sheet in the same excel file base on Grade He/She got.

In [13]:
# importing required library
import pandas as pd
import xlrd
import openpyxl
from openpyxl import Workbook
df = pd.read_excel("Data/student_result.xlsx", sheet_name='Sheet1')
df.head()

   Roll     Name           Email Gender  Percentage
0     1    Asha     asha@rs.com   Femal          58
1     2   Sonal    sonal@rs.com   Femal          25
2     3  Krishan  krishan@rs.com   Male          95
3     4   Sonali   sonali@rs.com  Femal          45
4     5     Ritu     ritu@rs.com  Femal          67

### Performing Task 1 (Adding Result column)

In [14]:
wb= openpyxl.load_workbook("Data/student_result.xlsx")
sheet = wb['Sheet1']
rows_max=sheet.max_row
sheet.cell(row=1, column=6).value ="Result"
for i in range(2,sheet.max_row + 1):
    if sheet.cell(row=i, column=5).value >= 40:
        sheet.cell(row=i, column=6).value = "Pass"
    else:
        sheet.cell(row=i, column=6).value ="Failed"
        
wb.save("Data/student_result.xlsx")

In [15]:
df = pd.read_excel("Data/student_result.xlsx", sheet_name='Sheet1')
df.head()

   Roll     Name           Email Gender  Percentage  Result
0     1    Asha     asha@rs.com   Femal          58    Pass
1     2   Sonal    sonal@rs.com   Femal          25  Failed
2     3  Krishan  krishan@rs.com   Male          95    Pass
3     4   Sonali   sonali@rs.com  Femal          45    Pass
4     5     Ritu     ritu@rs.com  Femal          67    Pass

### Performing Task 1 (Adding Grade column )

In [16]:
wb= openpyxl.load_workbook("Data/student_result.xlsx")
sheet = wb['Sheet1']
rows_max=sheet.max_row
sheet.cell(row=1, column=7).value ="Grades"
for i in range(2,sheet.max_row + 1):
    if sheet.cell(row=i, column=5).value >= 60:
        sheet.cell(row=i, column=7).value = "1st class"
        
    elif sheet.cell(row=i, column=5).value <= 60 and sheet.cell(row=i, column=5).value >=50 :
        sheet.cell(row=i, column=7).value = "2nd class"
        
    elif sheet.cell(row=i, column=5).value <= 50 and sheet.cell(row=i, column=5).value >=40 :
        sheet.cell(row=i, column=7).value = "3rd class"
    else:
        sheet.cell(row=i, column=7).value ="Failed"
        
wb.save("Data/student_result.xlsx")

In [17]:
df = pd.read_excel("Data/student_result.xlsx", sheet_name='Sheet1')
df.head()

   Roll     Name           Email Gender  Percentage  Result     Grades
0     1    Asha     asha@rs.com   Femal          58    Pass  2nd class
1     2   Sonal    sonal@rs.com   Femal          25  Failed     Failed
2     3  Krishan  krishan@rs.com   Male          95    Pass  1st class
3     4   Sonali   sonali@rs.com  Femal          45    Pass  3rd class
4     5     Ritu     ritu@rs.com  Femal          67    Pass  1st class

### Sperating into multiple sheet in same excel file based on the grade obtain.

In [18]:
import pandas as pd
import xlrd
import openpyxl
from openpyxl import Workbook
wb= openpyxl.load_workbook("Data/student_result.xlsx")
sheet = wb['Sheet1']

def multiple_sheet(t1,grade):
    work_sheet = wb.create_sheet(title=grade)
    for row in t1:
        work_sheet.append(row)
    wb.save("Data/student_result.xlsx")

def grade_wise(row_num,grade):    
    t1=[]
    for j in row_num:
        t=[]
        for col in sheet.iter_cols(min_col=1,max_col=sheet.max_column, min_row = j,max_row=j ):
            for cell in col:
                t.append(cell.value)
        t1.append(tuple(t))                
    multiple_sheet(t1,grade)
    
def separating():
    df = pd.read_excel("Data/student_result.xlsx", sheet_name='Sheet1')
    grades=[]
    for i in range(len(df["Grades"])):
        rec=df["Grades"][i]
        grades.append(rec)            
    grades=list(set(grades))
    start = 1
    cols_max=sheet.max_column
    rows_max=sheet.max_row

    for grade in grades:
        row_col=[]
        row_col.append(1)
        for col in sheet.iter_cols(min_col=cols_max, min_row = start, max_row=rows_max):
            for cell in col:
                if cell.value == grade:
                    row_col.append(cell.row)
            grade_wise(row_col,grade)        
        
separating()

## 10. Simple Project  2
In this project we are separating the records in different excel spreadsheet for different **Grade**

In [20]:
import pandas as pd
import xlrd
import openpyxl
from openpyxl import Workbook

def separate_excel_file(t1,grade):
    book = Workbook()
    sheet = book.active
    for row in t1:
        sheet.append(row)
    book.save('output/'+grade+'.xlsx')

def grade_wise(row_num,grade):    
    t1=[]
    for j in row_num:
        t=[]
        for col in sheet.iter_cols(min_col=1,max_col=sheet.max_column, min_row = j,max_row=j ):
            for cell in col:
                t.append(cell.value)    
        t1.append(tuple(t))                
    separate_excel_file(t1,grade)
    
def separating():
    df = pd.read_excel("Data/student_result.xlsx", sheet_name='Sheet1')
    grades=[]
    for i in range(len(df["Grades"])):
        rec=df["Grades"][i]
        grades.append(rec)            
    grades=list(set(grades))
    start = 1
    cols_max=sheet.max_column
    rows_max=sheet.max_row
    for grade in grades:
        row_col=[]
        row_col.append(1)
        for col in sheet.iter_cols(min_col=cols_max, min_row = start, max_row=rows_max):
            for cell in col:
                if cell.value == grade:
                    row_col.append(cell.row)
            grade_wise(row_col,grade) 
        
        
separating()

## Reference
    https://openpyxl.readthedocs.io/en/stable/
    https://zetcode.com/python/openpyxl/